html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #d4d3d323;
    font-family: 'Poppins', sans-serif;
  }
  .card {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
  }
  .navbar {
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  .navbar a:hover {
    color: yellow;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  .title {
    text-decoration: underline;
    color: blue;
  }
  .nested-table {
    margin-top: 5px;
    border-collapse: collapse;
  }

  .nested-table td {
    padding: 4px 8px;
  }
  form {
    max-width: 100%;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input,
  button {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
  }

  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #555;
  }